# Dependencies
node_modules/

# Environment variables
.env

# Ressources (documentation, cahier des charges, TODO, etc.)
Ressources/
*.md
!README.md

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
